:root {
	--dark: #222;
	--gray: #464646;
	--white: #FFF;
}

.dark {
	--text-color: var(--white);
	--bg-color: var(--dark);
	--bg-color-2: var(--white);
	--text-color-2: var(--dark);
}

.light {
	--text-color: var(--dark);
	--bg-color: var(--white);
}

* {
	font-family: sans-serif;
	box-sizing: border-box;
}

html, body {
	margin: 0;
	font-size: 16px;
	height: 100vh;
	background-color: var(--bg-color);
	color: var(--text-color);
}

h1 {
	text-align: center;
}

h3 {
	width: 100%;
}

h3, p {
	text-align: center;
}

button, img, section > div > a {
	display: block;
}

button {
	background-color: var(--bg-color);
	border: none;
	margin: 1rem auto;
	font-size: 1rem;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--gray);
	width: 80%;
	border-radius: 8px;
	margin: 1rem auto;
	padding: 8px;
}

section > div > a {
	width: 60%;
	margin: .25rem auto;
	text-align: center;
}

a {
	color: var(--text-color);
	border: 1px solid var(--text-color);
	padding: 8px;
	transition: background .15s ease-in;
}

a:hover {
	background-color: var(--bg-color-2);
	color: var(--text-color-2);
}

img {
	width: 90%;
	margin: 0 auto;
	border-radius: .25rem;
}

#social-media > div > a {
	margin: .25rem .75rem;
	width: 90%;
}