:root {
	--dark: #222;
	--white: #FFF;
	--gray: #C2C2C2;
	--primary: #3ACD58;
}

* {
	font-family: sans-serif;
	box-sizing: border-box;
}

html, body {
	margin: 0;
	font-size: 16px;
	height: 100vh;
	background-color: var(--gray);
}

nav {
	background-color: var(--primary);
	width: 100%;
}

.navbar-list {
	list-style: none;
	margin: 0;
	width: 100%;
	height: 10vh;
	color: var(--white);
	display: flex;
}

.navbar-list li {
	margin: auto 1rem;
}

.navbar-list li a {
	text-decoration: none;
	color: var(--secondary);
}

main {
	background-color: var(--white);
	margin: 0 auto;
}

h1 {
	text-align: center;
	margin: 0;
}