:root {
	--dark: #222;
	--white: #FFF;
}

* {
	font-family: sans-serif;
	box-sizing: border-box;
}

html, body {
	margin: 0;
	font-size: 16px;
	height: 100vh;
	background-color: var(--dark);
	color: var(--white);
}

h3 {
	width: 100%;
}

h3, p {
	text-align: center;
}

button {
	background-color: var(--dark);
	border: none;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

a {
	color: var(--white);
	border: 1px solid var(--white);
	padding: 8px;
}

#social-media > div > a {
	margin: 0 .75rem;
}